# Data Cleaning in Pandas

In [108]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import datetime
import math

In [109]:
Cars = pd.read_excel(r"Car Sales.xlsx")
Cars

,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,C_CND_000001,2022-01-02,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,C_CND_000002,2022-01-02,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,C_CND_000003,2022-01-02,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,C_CND_000004,2022-01-02,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,C_CND_000005,2022-01-02,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23901,C_CND_023902,2023-12-31,Martin,Male,13500,C & M Motors Inc,Plymouth,Voyager,Overhead Camshaft,Manual,Red,12000,60504-7114,Passenger,8583598,Pasco
23902,C_CND_023903,2023-12-31,Jimmy,Female,900000,Ryder Truck Rental and Leasing,Chevrolet,Prizm,DoubleÂ Overhead Camshaft,Auto,Black,16000,06457-3834,Hardtop,7914229,Middletown
23903,C_CND_023904,2023-12-31,Emma,Male,705000,Chrysler of Tri-Cities,BMW,328i,Overhead Camshaft,Manual,Red,21000,99301-3882,Sedan,7659127,Scottsdale
23904,C_CND_023905,2023-12-31,Victoire,Male,13500,Chrysler Plymouth,Chevrolet,Metro,DoubleÂ Overhead Camshaft,Auto,Black,31000,53546-9427,Passenger,6030764,Austin
23905,C_CND_023906,2023-12-31,Donovan,Male,1225000,Pars Auto Sales,Lexus,ES300,DoubleÂ Overhead Camshaft,Auto,Pale White,27500,38701-8047,Hardtop,7020564,Middletown

In [110]:
Cars = Cars.drop_duplicates()
Cars

,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,C_CND_000001,2022-01-02,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,C_CND_000002,2022-01-02,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,C_CND_000003,2022-01-02,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,C_CND_000004,2022-01-02,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,C_CND_000005,2022-01-02,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23901,C_CND_023902,2023-12-31,Martin,Male,13500,C & M Motors Inc,Plymouth,Voyager,Overhead Camshaft,Manual,Red,12000,60504-7114,Passenger,8583598,Pasco
23902,C_CND_023903,2023-12-31,Jimmy,Female,900000,Ryder Truck Rental and Leasing,Chevrolet,Prizm,DoubleÂ Overhead Camshaft,Auto,Black,16000,06457-3834,Hardtop,7914229,Middletown
23903,C_CND_023904,2023-12-31,Emma,Male,705000,Chrysler of Tri-Cities,BMW,328i,Overhead Camshaft,Manual,Red,21000,99301-3882,Sedan,7659127,Scottsdale
23904,C_CND_023905,2023-12-31,Victoire,Male,13500,Chrysler Plymouth,Chevrolet,Metro,DoubleÂ Overhead Camshaft,Auto,Black,31000,53546-9427,Passenger,6030764,Austin
23905,C_CND_023906,2023-12-31,Donovan,Male,1225000,Pars Auto Sales,Lexus,ES300,DoubleÂ Overhead Camshaft,Auto,Pale White,27500,38701-8047,Hardtop,7020564,Middletown

In [111]:
Cars.isna().sum()

Car_id           0
Date             0
Customer Name    1
Gender           0
Annual Income    0
Dealer_Name      0
Company          0
Model            0
Engine           0
Transmission     0
Color            0
Price ($)        0
Dealer_No        0
Body Style       0
Phone            0
Dealer_Region    0
dtype: int64

In [112]:
Cars['Customer Name'].fillna('Omar Saeed',inplace=True)

C:\Users\omars\AppData\Local\Temp\ipykernel_20784\2544020856.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Cars['Customer Name'].fillna('Omar Saeed',inplace=True)

In [113]:
Cars.describe()

,Date,Annual Income,Price ($),Phone
count,23906,2.390600e+04,23906.000000,2.390600e+04
mean,2023-03-01 14:28:10.822387456,8.308403e+05,28090.247846,7.497741e+06
min,2022-01-02 00:00:00,1.008000e+04,1200.000000,6.000101e+06
25%,2022-09-20 00:00:00,3.860000e+05,18001.000000,6.746495e+06
50%,2023-03-13 00:00:00,7.350000e+05,23000.000000,7.496198e+06
75%,2023-09-08 00:00:00,1.175750e+06,34000.000000,8.248146e+06
max,2023-12-31 00:00:00,1.120000e+07,85800.000000,8.999579e+06
std,NaN,7.200064e+05,14788.687608,8.674920e+05

# EDA in Pandas

In [114]:
Cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23906 entries, 0 to 23905
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_id         23906 non-null  object
 1   Date           23906 non-null  datetime64[ns]
 2   Customer Name  23906 non-null  object
 3   Gender         23906 non-null  object
 4   Annual Income  23906 non-null  int64
 5   Dealer_Name    23906 non-null  object
 6   Company        23906 non-null  object
 7   Model          23906 non-null  object
 8   Engine         23906 non-null  object
 9   Transmission   23906 non-null  object
 10  Color          23906 non-null  object
 11  Price ($)      23906 non-null  int64
 12  Dealer_No      23906 non-null  object
 13  Body Style     23906 non-null  object
 14  Phone          23906 non-null  int64
 15  Dealer_Region  23906 non-null  object
dtypes: datetime64[ns](1), int64(3), object(12)
memory usage: 2.9+ MB

In [115]:
Cars.nunique()

Car_id           23906
Date               612
Customer Name     3022
Gender               2
Annual Income     2508
Dealer_Name         28
Company             30
Model              154
Engine               2
Transmission         2
Color                3
Price ($)          870
Dealer_No            7
Body Style           5
Phone            23804
Dealer_Region        7
dtype: int64

In [116]:
Cars.count()

Car_id           23906
Date             23906
Customer Name    23906
Gender           23906
Annual Income    23906
Dealer_Name      23906
Company          23906
Model            23906
Engine           23906
Transmission     23906
Color            23906
Price ($)        23906
Dealer_No        23906
Body Style       23906
Phone            23906
Dealer_Region    23906
dtype: int64

In [117]:
Cars.to_csv('Cars.csv', index=False)

In [118]:
Cars["Date"] = pd.to_datetime(Cars["Date"])

In [119]:
Co = Cars.groupby('Date')['Car_id'].count()

In [120]:
Co.head(10)

Date
2022-01-02    35
2022-01-03    20
2022-01-04    15
2022-01-05    30
2022-01-06    10
2022-01-09    20
2022-01-10     5
2022-01-12    30
2022-01-13    20
2022-01-17    20
Name: Car_id, dtype: int64

# ⚠️ YTD Total Sales ⚠️  ✅

In [126]:
Cars['Date'] = pd.to_datetime(Cars['Date'], format='%d-%m-%y')
start_date = pd.Timestamp('2023-01-01')
end_Date = pd.Timestamp.today()
ytd_sales_data = Cars[(Cars['Date'] >= start_date) & (Cars['Date'] <= end_Date)]
ytd_total_sales = ytd_sales_data['Price ($)'].sum()
ytd_total_sales

371185120

# MTD Total Sales

In [143]:
current_month = pd.Timestamp.now().month
Cars_current_month = Cars[Cars['Date'].dt.month ==current_month]
MTD_Total_Price = Cars_current_year['Price ($)'].sum()
    
MTD_Total_Price

371185120

#  PYTD Total Sales

In [129]:
current_date = pd.Timestamp.today()

current_year_start = pd.Timestamp(current_date.year, 1, 1)


previous_year_start = current_year_start - pd.DateOffset(years=1)
previous_year_end = current_date - pd.DateOffset(years=1)

pytd_sales_data = Cars[(Cars['Date'] >= previous_year_start) & (Cars['Date'] <= previous_year_end)]
pytd_total_sales = pytd_sales_data['Price ($)'].sum()
pytd_total_sales

106922689

# YOY Growth in Average Price

In [130]:
current_year = pd.Timestamp.now().year
previous_year = current_year - 1
Cars_previous_year = Cars[Cars['Date'].dt.year == previous_year]
YTD_Price_Previous_Year = Cars_previous_year['Price ($)'].sum()
YOY_Growth_Price = ((ytd_total_sales - YTD_Price_Previous_Year) / YTD_Price_Previous_Year) * 100
YOY_Growth_Price

0.0

# Difference between YTD Average Price and PTYD Average Price

In [131]:
# حساب الفرق بين مبيعات السنة الحالية والسنة اللي فاتت لنفس المدة
difference_ytd_sales = ytd_total_sales - pytd_total_sales
print(f'Difference between YTD Sales and PTYD Sales: {difference_ytd_sales}')

Difference between YTD Sales and PTYD Sales: 264262431

# ⚠️ YTD Average Total Sales ⚠️

In [132]:
Avg_Price_Sum = Cars['Price ($)'].sum()
Avg_Price_Count = Cars['Price ($)'].count()
Average_Price = Avg_Price_Sum / Avg_Price_Count
Average_Price

28090.247845729107

In [133]:
Cars['Date'] = pd.to_datetime(Cars['Date'], format='%d-%m-%y')
current_year = pd.Timestamp.now().year-1
Cars_current_year = Cars[Cars['Date'].dt.year ==current_year]
YTD_Average_Price = Cars_current_year['Price ($)'].mean()
if Cars_current_year.empty:
    print("لم يتم العثور على سيارات في", current_year)
else:
    YTD_Average_Price = Cars_current_year['Price ($)'].mean()
YTD_Average_Price.round()

27991.0

# MTD Average Total Sales

In [134]:
current_month = pd.Timestamp.now().month
Cars_current_month = Cars[Cars['Date'].dt.month ==current_month]
MTD_Average_Price = Cars_current_year['Price ($)'].mean()
if Cars_current_month.empty:
    print("لم يتم العثور على سيارات في", current_year)
else:
    MTD_Average_Price = Cars_current_month['Price ($)'].mean()
    
MTD_Average_Price

28283.324781341107

# YOY Average Price Growth

In [135]:
current_year = pd.Timestamp.now().year
previous_year = current_year - 1
Cars_previous_year = Cars[Cars['Date'].dt.year == previous_year]
YTD_Average_Price_Previous_Year = Cars_previous_year['Price ($)'].mean()
YOY_Growth_Average_Price = ((YTD_Average_Price - YTD_Average_Price_Previous_Year) / YTD_Average_Price_Previous_Year) * 100
YOY_Growth_Average_Price

0.0

#  ⚠️ YTD Cars Sold ⚠️  ✅

In [140]:
Cars['Date'] = pd.to_datetime(Cars['Date'], format='%d-%m-%y')
current_year = pd.Timestamp.now().year-1
Cars_current_year = Cars[Cars['Date'].dt.year == current_year]
ytd_cars_sold = Cars_current_year.shape[0]
ytd_cars_sold

13261

# MTD Cars Sold

In [159]:
current_month = pd.Timestamp.now().month 
Cars_current_month = Cars_current_year[Cars_current_year['Date'].dt.month == current_month]
mtd_cars_sold = Cars_current_month.shape[0]
print(f'MTD Cars Sold: {mtd_cars_sold}')

MTD Cars Sold: 1025

# YOY Growth in Cars Sold

In [152]:
previous_year = current_year-1 
Cars_previous_year = Cars[Cars['Date'].dt.year == previous_year]
ytd_cars_sold_previous_year = Cars_previous_year.shape[0]
ytd_cars_sold_previous_year

10645

#  Difference between YTD Cars Sold and PTYD Cars Sold

In [156]:
difference_ytd_cars_sold = ytd_cars_sold - ytd_cars_sold_previous_year
difference_ytd_cars_sold

2616